{% extends "myauth/base.html" %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    {% if user.is_authenticated %}
        <h2>Detail</h2>
        <p>Username: {{ profile.user.username }}</p>
        <p>First name: {{ profile.first_name }}</p>
        <p>Last name: {{ profile.last_name }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Bio: {{ profile.bio }}</p>
        <h3>Avatar:</h3>
        {% if profile.image %}
            <img src="{{ profile.image.url }}" alt="{{ profile.image.name }}">
        {% else %}
            <p>No image yet</p>
        {% endif %}


    <div>
        <a href="{% url 'myauth:about-me_update_form' pk=user.pk %}">Update profile</a>
    </div>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}

{% endblock %}