{% extends 'blogapp/base.html' %}
{% load i18n %}


{% block title %}
    Articles
{% endblock %}

{% block body %}
    <h1>{% translate 'Articles' %}:</h1>
    {% if object_list %}
        <div>
            {% for article in object_list %}
                <div>
                    <a href="{% url "blogapp:article" pk=article.pk %}">{{ article.title }}</a>
                    <p>{% translate 'Published on' %}: {{ article.published_at|date:"D d M Y H:i:s" }}</p>
<!--                    <p>{% translate 'Author' %}: {{ article.author.name }}</p>-->
<!--                    <p>{% translate 'Category' %}: {{ article.category.name }}</p>-->
<!--                    <p>{% translate 'Tags' %}:-->
                        {% for tag in article.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% translate 'No articles available' %}</p>
    {% endif %}
{% endblock %}
